.sidebar-brand {
    padding: 0.15rem 4.25rem;
}

table thead th a {
    color: #495057;
}

.right-float {
    float: right;
}

.table-action {
    text-align: right;
}

.dataTable td span {
    color: #b1b6bb;
    font-size: 0.775rem;
}

.treegrid-expanded {
    font-weight: bold;
}
